.slade{
    background-image: url("https://www.okler.net/previews/ezy/3.1.0/img/slides/shop/slide-1-1.jpg");

}





.cardone{
    background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/shop/product-bg-1.jpg')
}

.cardtwo{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/shop/product-bg-2.jpg')
        }
.cardtree{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/shop/product-bg-3.jpg')
        }
.shopone{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/products/product-1.jpg')
        }
.shoptwo{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/products/product-2.jpg')
        }
.shoptree{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/products/product-3.jpg')
        }
.shopfour{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/products/product-4.jpg')
        }
.shopfive{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/products/product-5.jpg')
        }
.shopsix{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/products/product-6.jpg')
        }
.shopseven{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/products/product-7.jpg')
        }
.shopeight{
    background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/products/product-8.jpg')
}
.shopnine{
    background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/products/product-9.jpg');
        }
.Bannerone{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/shop/product-bg-4.jpg')
        }
.Bannertwo{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/shop/product-bg-5.jpg')
        }
.Bannertree{
            background-image: url('https://www.okler.net/previews/ezy/3.1.0/img/shop/product-bg-6.jpg')
        }